.page {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter", Arial, sans-serif;
}

.header {
  margin-top: 45px;
  height: 74px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
}

.header__logo {
  max-width: 142px;
  max-height: 33px;
  opacity: 1;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  margin-left: 30px;
  gap: 16px 18px;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}
.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.button {
  display: flex;
  padding: o;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
}

.button__add {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;

  font-size: 36px;
  margin-left: auto;
}

.button__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.button__image {
  margin: 0 auto;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin-top: 51px;
  margin-bottom: 66px;
  gap: 20px 17px;
  justify-items: center;
  list-style: none;
  padding: 0;
}
.element {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}
.photo__info {
  display: flex;
  justify-content: space-between;
}
.element__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.photo__caption {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin: 25px 15px 31px 21px;
}
.element__like-symbol {
  margin-right: 20px;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 0;
  margin-bottom: 60px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}

.popup__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 0 48px 36px;
}

.popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__input-container {
  display: flex;
  flex-direction: column;
  border-style: none;
  padding: 0;
  margin: 0 36px;
}

.popup__item {
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
}

.popup__item[type="text"] {
  padding-bottom: 8px;
}
.popup__save-button {
  margin-top: 48px;
  border-style: none;
  background-color: #000000;
  color: #ffffff;
  height: 50px;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.popup__item:last-of-type {
  margin-top: 30px;
}

.popup_opened {
  display: block;
}

.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in;
}
.popup__close-button image {
  height: 32px;
  width: 32px;
}

.popup__close-button:hover {
  opacity: 0.8;
}

input::-webkit-input-placeholder {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}
input::-moz-placeholder {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}
input::-ms-input-placeholder {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}
input::placeholder {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

@media screen and (max-width: 900px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 75px 22px;
  }
  .popup__input-container {
    margin: 0 22px;
  }
  .popup__save-button {
    height: 48px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }

  .popup__close-button {
    top: -36px;
    right: 0;
  }

  .popup__close-button img {
    width: 20px;
    height: 20px;
  }
  .button__edit {
    width: 18px;
    height: 18px;
  }
  .footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    margin-bottom: 36px;
  }
  .footer {
    max-width: calc(100vw - 38px);
  }

  .elements {
    max-width: calc(100vw - 38px);
    margin-bottom: 48px;
  }
  .header {
    height: 56px;
    margin-top: 28px;
  }

  .profile {
    flex-direction: column;
    max-width: calc(100vw - 38px);
    margin-top: 42px;
  }

  .button__add {
    justify-self: stretch;
    max-width: calc(100vw - 38px);
    margin: 34px auto 0;
    width: 282px;
  }
  .profile__info {
    margin: 26px auto 0;
    gap: 14px 10px;
  }

  .profile__name {
    margin-left: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }

  .profile__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
  }
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-left: 27px;
  }
}
