.elements {
}
.elements ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin-top: 51px;
  margin-bottom: 66px;
  gap: 20px 17px;
  justify-items: center;
}

@media screen and (max-width: 900px) {
  .elements {
    max-width: calc(100vw - 38px);
    margin-top: 36px;
    margin-bottom: 48px;
  }
}
