.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}
.profile__avatar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.profile__avatar:hover {
  opacity: 0.2;
  transition: opacity 0.1s ease;
  cursor: pointer;
}


  /* background-image: url(../../../images/editIcon.svg);
  background-position: center center;
  background-size: contain; */


/* .profile__avatar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../images/editIcon.svg');
  opacity: 0;
} */



/* .profile__avatar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.profile__avatar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../../images/editIcon.svg);
  opacity: 0;
}

.profile__avatar:hover:before,
.profile__avatar:hover:after {
  opacity: 1;
} */
